html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

footer,
header,
main,
nav,
section {
	display: block;
}

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

strong {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

img {
	border: 0;
}

button,
input,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
	text-transform: none;
}

button,
html input[type="button"] {
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

textarea {
	overflow: auto;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-weight: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	height: auto;
}

div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p {
	margin: 0;
	padding: 0;
}

i {
	font-style: italic;
	line-height: inherit;
}

strong {
	font-weight: bold;
	line-height: inherit;
}

ul {
	list-style: none;
}

li {
	display: block;
}

a {
	text-decoration: none;
	line-height: inherit;
}

a img {
	border: none;
}

fieldset {
	margin: 0;
	padding: 0;
}

input[type="email"],
input[type="text"],
textarea {
	appearance: none;
}

/* Grid Framework */
.row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row .row {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}

[class*="column-"],
.bgrid {
	float: left;
}

[class*="column-"] + [class*="column-"].end {
	float: right;
}

[class*="column-"] {
	padding: 0 20px;
}

.column-one {
	width: 8.33333%;
}

.column-two,
.column-1-6 {
	width: 16.66667%;
}

.column-three,
.column-1-4 {
	width: 25%;
}

.column-four,
.column-1-3 {
	width: 33.33333%;
}

.column-five {
	width: 41.66667%;
}

.column-six,
.column-1-2 {
	width: 50%;
}

.column-seven {
	width: 58.33333%;
}

.column-eight,
.column-2-3 {
	width: 66.66667%;
}

.column-nine,
.column-3-4 {
	width: 75%;
}

.column-ten,
.column-5-6 {
	width: 83.33333%;
}

.column-eleven {
	width: 91.66667%;
}

.column-twelve,
.column-full {
	width: 100%;
}

/* Small */
@media screen and (max-width:1024px) {
	.row .row {
		margin-left: -18px;
		margin-right: -18px;
	}

	[class*="column-"] {
		padding: 0 18px;
	}

}

/* Tablets */
@media screen and (max-width:768px) {
	.row {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	[class*="column-"] {
		padding: 0 15px;
	}

	.tab-1-4 {
		width: 25%;
	}

	.tab-1-3 {
		width: 33.33333%;
	}

	.tab-1-2 {
		width: 50%;
	}

	.tab-2-3 {
		width: 66.66667%;
	}

	.tab-3-4 {
		width: 75%;
	}

	.tab-full {
		width: 100%;
	}

}

/* Large mobiles */
@media screen and (max-width:600px) {
	.row {
		padding-left: 25px;
		padding-right: 25px;
	}

	.row .row {
		margin-left: -10px;
		margin-right: -10px;
	}

	[class*="column-"] {
		padding: 0 10px;
	}

	.mob-1-4 {
		width: 25%;
	}

	.mob-1-2 {
		width: 50%;
	}

	.mob-3-4 {
		width: 75%;
	}

	.mob-full {
		width: 100%;
	}

}

/* Small mobile */
@media screen and (max-width:400px) {
	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	[class*="column-"] {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

	[class*="column-"] + [class*="column-"].end {
		float: none;
	}

}


[class*="block-"]:before,
[class*="block-"]:after {
	content: "";
	display: table;
}

[class*="block-"]:after {
	clear: both;
}

.block-1-6 .bgrid {
	width: 16.66667%;
}

.block-1-4 .bgrid {
	width: 25%;
}

.block-1-3 .bgrid {
	width: 33.33333%;
}

.block-1-2 .bgrid {
	width: 50%;
}

.block-1-6 .bgrid:nth-child(6n+1),
.block-1-4 .bgrid:nth-child(4n+1),
.block-1-3 .bgrid:nth-child(3n+1),
.block-1-2 .bgrid:nth-child(2n+1) {
	clear: both;
}

/* Small Screens */
@media screen and (max-width:1024px) {
	.block-s-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-s-1-4 .bgrid {
		width: 25%;
	}

	.block-s-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-s-1-2 .bgrid {
		width: 50%;
	}

	.block-s-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-s-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-s-1-6 .bgrid:nth-child(6n+1),
	.block-s-1-4 .bgrid:nth-child(4n+1),
	.block-s-1-3 .bgrid:nth-child(3n+1),
	.block-s-1-2 .bgrid:nth-child(2n+1) {
		clear: both;
	}

}

/* Tablets */
@media screen and (max-width:768px) {
	.block-tab-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-tab-1-4 .bgrid {
		width: 25%;
	}

	.block-tab-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-tab-1-2 .bgrid {
		width: 50%;
	}

	.block-tab-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-tab-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-tab-1-6 .bgrid:nth-child(6n+1),
	.block-tab-1-4 .bgrid:nth-child(4n+1),
	.block-tab-1-3 .bgrid:nth-child(3n+1),
	.block-tab-1-2 .bgrid:nth-child(2n+1) {
		clear: both;
	}

}

/* Large  mobile */
@media screen and (max-width:600px) {
	.block-mob-1-6 .bgrid {
		width: 16.66667%;
	}

	.block-mob-1-4 .bgrid {
		width: 25%;
	}

	.block-mob-1-3 .bgrid {
		width: 33.33333%;
	}

	.block-mob-1-2 .bgrid {
		width: 50%;
	}

	.block-mob-full .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="block-mob-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.block-mob-1-6 .bgrid:nth-child(6n+1),
	.block-mob-1-4 .bgrid:nth-child(4n+1),
	.block-mob-1-3 .bgrid:nth-child(3n+1),
	.block-mob-1-2 .bgrid:nth-child(2n+1) {
		clear: both;
	}

}

/* Small Screen */
@media screen and (max-width:400px) {
	.stack .bgrid {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
	}

}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}